* {
    font-family: 'Roboto Mono', monospace;
}

/* Colors */

.cool-colors {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Source: https://www.awwwards.com/trendy-web-color-palettes-and-material-design-color-schemes-tools.html */

/* BRANDTS - Museum For Art & Visual Culture by Stupid Studios */

.primary-color-1 {
    background: #252839;
}

.primary-color-2 {
    background: #677077;
}

.primary-color-3 {
    background: #b5b5b7;
}

.highlight-color {
    background: #f2b632;
}

.green-color {
    background: #657C2E;
}

.dark-blue-color {
    background: #141E30;
}

/* NAVBAR STYLING */

.navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:visited,
.navbar-brand:link {
    color: white;
}

.dropdown-toggle::after {
    display: none
}

/*
.navbar-brand {
    float: none;
    text-align: center;
    width: 100%;
    margin: 0;
}
*/

.social-media {
    padding: 15px 0 15px 0;
}

#linkedin-icon {
    color: #0077B5;
}

#github-icon {
    color: black;
}

#soundcloud-icon {
    color: #FF6900;
}

#about-me {
    background-color: #657C2E;
}

/* flatuicolors.com CLOUDS*/

#resume {
    background-color: #ecf0f1;
}

.about-me-info {
    border-radius: 3px;
    background-color: white;
    margin: 0 1rem 1rem 1rem;
}

.work-experience-info {
    border-radius: 3px;
    background-color: white;
}

#greetings-text {
    color: white;
}

.info-spacing {
    margin-bottom: 0.5rem;
}

#education-section,
#work-section {
    margin-bottom: 0;
}

hr {
    margin: .5rem 0 .75rem 0;
}

.hr-white {
    border-top: 1px solid white;
    margin: .5rem 0 .75rem 0;
}

.row-bottom-margin {
    margin-bottom: 0px;
}

.company-links {
    color: black;
}

.company-links:hover {
    text-decoration: none;
    color: black;
}
