* {
    font-family: 'Roboto Mono', monospace;
}

.cool-colors {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:visited,
.navbar-light .navbar-brand:link {
    color: white;
}

.green-color {
    background: #657C2E;
}

.navbar-brand {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
    margin: 0;
}

.navbar-brand {
    float: none;
}

.social-media {
    padding: 15px 0 15px 0;
}

#linkedin-icon {
    color: #0077B5;
}

#github-icon {
    color: black;
}

#soundcloud-icon {
    color: #FF6900;
}

#about-me {
    background-color: #657C2E;
}

/* flatuicolors.com CLOUDS*/
#resume {
    background-color: #ecf0f1;
}

.about-me-info {
    border-radius: 3px;
    background-color: white;
    margin: 0 1rem 1rem 1rem;
}

#greetings-text {
    color: white;
}

.info-spacing{
    margin-bottom: 0.5rem;
}


