$link-color: #454545;

// Reset CSS to avoid future problems
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-body {
    padding: 24px 122px;
    font-family: 'Asap Condensed', sans-serif;

    nav {
        display: flex;

        .icon {
            margin-right: auto;
        }

        ul {
            margin-top: 16px;

            li {
                display: inline-block;
                font-size: 18px;

                &:not(:last-child) {
                    margin-right: 24px;
                }
            }
        }
    }
}
