body {
  margin: 0;
  font-family: "Asap Condensed", sans-serif;
  color: #454545;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1278px) {
  body nav {
    width: 1017px;
    margin: 0 auto;
    padding-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
  }
  body nav .icon {
    margin-right: auto;
  }
  body nav ul {
    margin-top: 16px;
  }
  body nav ul li {
    display: inline-block;
    font-size: 18px;
  }
  body nav ul li:not(:last-child) {
    margin-right: 24px;
  }
  body .header {
    width: 1017px;
    margin: 108px auto;
  }
  body .header h1 {
    font-size: 48px;
  }
  body .about-me {
    width: 1017px;
    margin: 0 auto 32px auto;
  }
  body .about-me h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  body .about-me p {
    line-height: 1.41;
  }
  body .information {
    width: 1017px;
    margin: 0 auto;
  }
  body .information .p-rel {
    position: relative;
  }
  body .information .section {
    margin-bottom: 32px;
  }
  body .information .section .section-header {
    width: 20%;
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
  }
  body .information .section .section-info {
    width: 79%;
    display: inline-block;
  }
  body .information .section .section-info .section-info-header {
    display: inline-block;
  }
  body .information .section .section-info .section-info-header:not(:first-child) {
    margin-top: 16px;
  }
  body .information .section .section-info .section-info-header h3 {
    font-size: 18px;
  }
  body .information .section .section-info .section-info-header h4 {
    color: #a1a1a1;
    font-size: 16px;
  }
  body .information .section .section-info .section-info-dates {
    font-size: 16px;
    float: right;
    display: inline-block;
  }
  body .information .section .section-info .section-info-points {
    margin-top: 16px;
    margin-left: 16px;
  }
  body .information .section .section-info .section-info-points li {
    line-height: 1.41;
  }
  body .information .section .section-info .section-info-points li:not(:first-child) {
    margin-top: 3px;
  }
  body .information .section .section-info .overview-container {
    display: inline-block;
    float: left;
    width: 20%;
  }
  body .information .section .section-info .overview-container:not(:last-child) {
    margin-right: 62px;
  }
  body .information .section .section-info .overview-container .overview-header {
    font-size: 18px;
    margin-bottom: 3px;
  }
  body .information .section .section-info .overview-container ul {
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  body .information .section .section-info .overview-container ul li {
    width: 50%;
  }
  body .information .vertical-line {
    position: absolute;
    left: 18%;
    background: #42cc9c;
    width: 2px;
    height: 100%;
  }
  body footer {
    height: 250px;
    color: white;
    background: #454545;
    padding: 75px 122px 40px 122px;
  }
  body footer .details {
    display: inline-block;
    width: 50%;
    height: 100%;
  }
  body footer .details .name {
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  body footer .details .chat {
    display: block;
  }
  body footer .details a {
    color: #00b087;
    text-decoration: none;
  }
  body footer .details .copyright {
    font-size: 14px;
    margin-top: 40px;
  }
  body footer .details .copyright span {
    vertical-align: bottom;
  }
  body footer .social-media-links {
    display: inline-block;
    float: right;
    width: 50%;
  }
  body footer .social-media-links ul {
    list-style: none;
    float: right;
  }
  body footer .social-media-links ul li {
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  body footer .social-media-links ul li a {
    color: white;
  }
  body footer .social-media-links ul li:not(:last-child) {
    margin-right: 32px;
  }
  body footer .social-media-links ul li .fab {
    font-size: 32px;
  }
}

@media screen and (min-width: 740px) and (max-width: 1278px) {
  body nav {
    margin: 0 122px;
    padding-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
  }
  body nav .icon {
    margin-right: auto;
  }
  body nav ul {
    margin-top: 16px;
  }
  body nav ul li {
    display: inline-block;
    font-size: 18px;
  }
  body nav ul li:not(:last-child) {
    margin-right: 24px;
  }
  body .header {
    margin: 108px 122px;
  }
  body .header h1 {
    font-size: 48px;
  }
  body .about-me {
    margin: 0 122px 32px 122px;
  }
  body .about-me h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  body .about-me p {
    line-height: 1.41;
  }
  body .information {
    margin: 0 122px;
  }
  body .information .p-rel {
    position: relative;
  }
  body .information .section {
    margin-bottom: 32px;
  }
  body .information .section .section-header {
    width: 20%;
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
  }
  body .information .section .section-info {
    width: 79%;
    display: inline-block;
  }
  body .information .section .section-info .section-info-header {
    display: inline-block;
  }
  body .information .section .section-info .section-info-header:not(:first-child) {
    margin-top: 16px;
  }
  body .information .section .section-info .section-info-header h3 {
    font-size: 18px;
  }
  body .information .section .section-info .section-info-header h4 {
    color: #a1a1a1;
    font-size: 16px;
  }
  body .information .section .section-info .section-info-dates {
    font-size: 16px;
    float: right;
    display: inline-block;
  }
  body .information .section .section-info .section-info-points {
    margin-top: 16px;
    margin-left: 16px;
  }
  body .information .section .section-info .section-info-points li {
    line-height: 1.41;
  }
  body .information .section .section-info .section-info-points li:not(:first-child) {
    margin-top: 3px;
  }
  body .information .section .section-info .overview-container {
    display: inline-block;
    float: left;
    width: 180px;
  }
  body .information .section .section-info .overview-container:not(:last-child) {
    margin-right: 62px;
  }
  body .information .section .section-info .overview-container .overview-header {
    font-size: 18px;
    margin-bottom: 3px;
  }
  body .information .section .section-info .overview-container ul {
    width: 180px;
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  body .information .section .section-info .overview-container ul li {
    width: 50%;
  }
  body .information .vertical-line {
    position: absolute;
    left: 18%;
    background: #42cc9c;
    width: 2px;
    height: 100%;
  }
  body footer {
    height: 250px;
    color: white;
    background: #454545;
    padding: 75px 122px 40px 122px;
  }
  body footer .details {
    display: inline-block;
    width: 50%;
    height: 100%;
  }
  body footer .details .name {
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  body footer .details .chat {
    display: block;
  }
  body footer .details a {
    color: #00b087;
    text-decoration: none;
  }
  body footer .details .copyright {
    font-size: 14px;
    margin-top: 40px;
  }
  body footer .details .copyright span {
    vertical-align: bottom;
  }
  body footer .social-media-links {
    display: inline-block;
    float: right;
    width: 50%;
  }
  body footer .social-media-links ul {
    list-style: none;
    float: right;
  }
  body footer .social-media-links ul li {
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  body footer .social-media-links ul li a {
    color: white;
  }
  body footer .social-media-links ul li:not(:last-child) {
    margin-right: 32px;
  }
  body footer .social-media-links ul li .fab {
    font-size: 32px;
  }
}

@media screen and (max-width: 740px) {
  body nav {
    margin: 0 12px;
    padding-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
  }
  body nav .icon {
    margin-right: auto;
  }
  body nav ul {
    margin-top: 16px;
  }
  body nav ul li {
    display: inline-block;
    font-size: 18px;
  }
  body nav ul li:not(:last-child) {
    margin-right: 24px;
  }
  body .header {
    margin: 108px 12px;
  }
  body .header h1 {
    font-size: 48px;
  }
  body .about-me {
    margin: 0 12px 32px 12px;
  }
  body .about-me h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  body .about-me p {
    line-height: 1.41;
  }
  body .information {
    margin: 0 12px;
  }
  body .information .p-rel {
    position: relative;
  }
  body .information .section {
    margin-bottom: 32px;
  }
  body .information .section .section-header {
    display: block;
    margin-bottom: 12px;
    font-size: 20px;
    vertical-align: top;
  }
  body .information .section .section-info {
    display: inline-block;
  }
  body .information .section .section-info .section-info-header {
    display: inline-block;
  }
  body .information .section .section-info .section-info-header:not(:first-child) {
    margin-top: 16px;
  }
  body .information .section .section-info .section-info-header h3 {
    font-size: 18px;
  }
  body .information .section .section-info .section-info-header h4 {
    color: #a1a1a1;
    font-size: 16px;
  }
  body .information .section .section-info .section-info-dates {
    font-size: 16px;
    margin-top: 4px;
    display: block;
  }
  body .information .section .section-info .section-info-points {
    margin-top: 16px;
    margin-left: 16px;
  }
  body .information .section .section-info .section-info-points li {
    line-height: 1.41;
  }
  body .information .section .section-info .section-info-points li:not(:first-child) {
    margin-top: 3px;
  }
  body .information .section .section-info .overview-container {
    display: block;
    margin-bottom: 8px;
  }
  body .information .section .section-info .overview-container .overview-header {
    font-size: 18px;
    margin-bottom: 3px;
  }
  body .information .section .section-info .overview-container ul {
    width: 180px;
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  body .information .section .section-info .overview-container ul li {
    width: 50%;
  }
  body .information .vertical-line {
    display: none;
  }
  body footer {
    height: 250px;
    color: white;
    background: #454545;
    padding: 75px 12px 40px 12px;
  }
  body footer .details {
    display: block;
    position: relative;
  }
  body footer .details .name {
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  body footer .details .chat {
    display: block;
  }
  body footer .details a {
    color: #00b087;
    text-decoration: none;
  }
  body footer .details .copyright {
    font-size: 14px;
    margin-top: 40px;
  }
  body footer .details .copyright span {
    vertical-align: bottom;
  }
  body footer .social-media-links {
    display: inline-block;
    position: absolute;
    right: 10%;
  }
  body footer .social-media-links ul {
    list-style: none;
    float: right;
  }
  body footer .social-media-links ul li {
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  body footer .social-media-links ul li a {
    color: white;
  }
  body footer .social-media-links ul li:not(:last-child) {
    margin-right: 32px;
  }
  body footer .social-media-links ul li .fab {
    font-size: 32px;
  }
}
/*# sourceMappingURL=styles.css.map */