.left {
  padding-left: 50px;
}
.title {
  margin-top: 56px;
  margin-bottom: 32px;
}

.blog {
  margin-bottom: 32px;

  .blog-title {
    color: #00cd98;
    font-size: 20px;
    margin-bottom: 8px;
  }

  .blog-detail {
    color: #454545;
    font-size: 18px;
  }
}
