@import url("https://fonts.googleapis.com/css?family=Asap+Condensed:400,600,700");

$main-color: #454545;
$secondary-color: #a1a1a1;
$mint-color: #42cc9c;
$mint-secondary-color: #00b087;
$asap-bold: 700;
$asap-medium: 600;
$asap-regular: 400;

$default-desktop-width: 1017px;

$mobile-break: 740px;
$desktop-break: 1278px;

@media screen and (min-width: $desktop-break) {
  .blog {
    width: $default-desktop-width;
    margin: 0 auto 32px auto;
  }
}

@media screen and (min-width: $mobile-break) and (max-width: $desktop-break) {
  .blog {
    margin: 0 122px 32px 122px;
  }
}

@media screen and (max-width: $mobile-break) {
  .blog {
    margin: 0 12px 32px 12px;
  }
}
